select {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    /* padding: 8px 30px 8px 10px; */
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* min-width: 200px; */
}
